---
import { config } from "../config";
import Calendar from "./Icons/Calendar.astro";
import Clock from "./Icons/Clock.astro";
import Pin from "./Icons/Pin.astro";

const events = await fetch(config.api + "/api/events");
const { data } = await events.json();

const getDateInFrench = (data) => {
  const date = new Date(data);
  return date.toLocaleDateString("fr-FR", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};
---

<section id="nos-evenements" class="bg-gray-200 py-8 lg:py-32 px-4">
  <div class="max-w-4xl space-y-4 w-full mx-auto text-white">
    <h2 class="text-3xl text-gray-900 font-semibold">
      Nos prochains évènements
    </h2>
    <p class="text-gray-700">
      Au stade de Valenciennes, à la ducasse d’Ath, à la fête des Rigolos, aux
      Turbulentes, au carnaval de Tournai....et bientôt chez vous ?
    </p>
  </div>
  <div
    class="grid max-w-6xl w-full mt-8 mx-auto sm:grid-cols-2 lg:grid-cols-4 gap-8"
  >
    {
      data.map((event) => (
        <a
          target="_blank"
          href={event.attributes.link}
          class={"block space-y-2 text-gray-900 bg-gray-100 border-2 transition  rounded-md border-orange-600 p-5" + " " + (event.attributes.link ? "hover:bg-orange-200" : "")}
        >
          <span class=" text-sm font-semibold">{event.attributes.name}</span>
          <span class="flex items-center gap-1">
            <Calendar />
            {getDateInFrench(event.attributes.date)}
          </span>
          {event.attributes.time && <span class="flex items-center gap-1">
            <Clock/>
            {event.attributes.time}
            </span>}
          <span class="flex items-center gap-1">
            <Pin />
            {event.attributes.place}
          </span>
        </a>
      ))
    }
  </div>
</section>
